{% extends "BricksCustomTwentystepsAlexaBundle:layout:layout.html.twig" %}

{% block content %}

    <div id="logo-container-top"></div>
    <div id="action-container-top">
        <a href="{{ path('bricks.custom.twentysteps_alexa.user.login') }}">{{ 'Login'|trans({},'core') }}</a>
    </div>

    <div class="node-wrapper">
        <div class="node">
            <h1>{{ node.title }}</h1>
            <img src="{{node.page.fullFeaturedImageUrl  }}" style="width: 100%"/>
            <div>{{ node.page.content | raw }}</div>
        </div>
    </div>

{% endblock %}