{% extends "BricksCustomTwentystepsAlexaBundle:layout:layout.html.twig" %}

{% block content %}

    <div id="logo-container-top"></div>
    <div id="action-container-top"><a href="{{ path('bricks.custom.twentysteps_alexa.user.login') }}">{{ 'Start'|trans({},'core') }}</a></div>

    <div class="node-wrapper">
        <div class="node">
            <h1>{{ node.title }}</h1>
            <img src="{{node.post.fullFeaturedImageUrl  }}" style="width: 100%"/>
            <div>{{ node.post.content | raw }}</div>
        </div>
    </div>

{% endblock %}