<!DOCTYPE html>
<html>

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1.0">
        <meta name="google-site-verification" content="OUTj1s45ISULL26zSM8m0q5_Lr0Gw1aVm3T-NGp2f34" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        {% if node is defined %}
            <meta name="description" content="{{ node.metaDescription }}">
        {% else %}
            <meta name="description" content="{{ 'Alexa Skill von 20steps für Entwickler und Systemadministratoren'|trans({},'twentytsteps_alexa') }}">
        {% endif %}

        <link rel="shortcut icon" type="image/png" href="https://20steps.de/bundles/brickscustomtwentystepswebsite/images/fav.png" >
        <link rel="icon" href="https://20steps.de/bundles/brickscustomtwentystepswebsite/images/fav.png" type="image/png">

        <link rel="apple-touch-startup-image" href="https://20steps.de/bundles/brickscustomtwentystepswebsite/images/fav.png">
        <link rel="apple-touch-icon" href="https://20steps.de/bundles/brickscustomtwentystepswebsite/images/fav.png">
        <link rel="apple-touch-icon" sizes="76x76" href="https://20steps.de/bundles/brickscustomtwentystepswebsite/images/fav.png">
        <link rel="apple-touch-icon" sizes="120x120" href="https://20steps.de/bundles/brickscustomtwentystepswebsite/images/fav.png">
        <link rel="apple-touch-icon" sizes="152x152" href="https://20steps.de/bundles/brickscustomtwentystepswebsite/images/fav.png">

        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-title" content="20steps">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

        <meta property="og:site_name" content="20steps Digital Full Service Boutique"/>
        <meta property="og:url" content="{{ app.request.uri | replace({'http://': 'https://'}) }}"/><!-- have to replace protocol as we are deployed behind an SSL offloader -->
        <meta property="og:type" content="page"/>
        <meta property="og:title" content="20steps Alexa | {{ title|trans({},'core') }}"/>
        {% if node is defined %}
            <meta property="og:description" content="{{ node.metaDescription }}">
        {% else %}
            <meta property="og:description" content="{{ 'Alexa Skill von 20steps für Entwickler und Systemadministratoren'|trans({},'twentytsteps_alexa') }}">
        {% endif %}
        <meta property="og:image" content="{{ bricks_cdn_prefix }}/bundles/brickscustomtwentystepsalexa/img/20steps-logo-black.png"/>
        <meta property="og:image:width" content="400"/>
        <meta property="og:image:height" content="84"/>


        {% stylesheets
            combine=true
            filter='cssrewrite'
            output='bundles/brickscustomtwentystepsalexa/dist/dist.css'

            "@BricksCustomTwentystepsAlexaBundle/Resources/public/css/bootstrap.less"
            "@BraincraftedBootstrapBundle/Resources/less/form.less"
            "@BricksCustomTwentystepsAlexaBundle/Resources/public/css/custom.less"
        %}
            <link rel="stylesheet" href="{{ bricks_cdn_prefix }}{{ asset_url }}?v={{ bricks_application_version }}" />
        {% endstylesheets %}

        {% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}

        <script type="text/javascript">

            // emulate window.console.* on very old browsers
            if (!window.console) {
                window.console = {};
            }
            // union of Chrome, FF, IE, and Safari console methods
            var m = [
                "log", "info", "warn", "error", "debug", "trace", "dir", "group",
                "groupCollapsed", "groupEnd", "time", "timeEnd", "profile", "profileEnd",
                "dirxml", "assert", "count", "markTimeline", "timeStamp", "clear"
            ];

            for (var i = 0; i < m.length; i++) {
                if (!window.console[m[i]]) {
                    window.console[m[i]] = function() {};
                }
            }

            window.console.log("\n\n\n\nPowered by:\n\n.---.  .--.       .-.\n`--. :: ,. :     .' `.\n   ,',: :: : .--.`. .'.--. .---.  .--.\n .'.'_: :; :`._-.': :' '_.': .; ``._-.'\n:____;`.__.'`.__.':_;`.__.': ._.'`.__.'\nDigital Full Service Boutique;\n                           :_;\n\n\nHi awesome developers, designers, partners and customers!\n\nTake a look at our bricks platform, agency services and job offers.\n\nContact us directly at:\nhello@20steps.de\n+49 30 9940 400 00\n\n  ____\n /|  /|\n/_|_/_|\n| / | /\n|/__|/\n\n\n\nThis website was proudly built in Berlin using Bricks by 20steps.\n\n\n");
        </script>

        <title>{{ title|trans({},'core') }} | 20steps Alexa</title>

    </head>

    <body class="{{ body_class }}">

        {% block content %}
            No content yet - please fillup the content block in the view.
        {% endblock %}

        <footer>
            <nav class="navbar navbar-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4 text-center">
                            <p><a href="{{ path('bricks.custom.twentysteps_alexa.content.page',{slug:'was-kann-der-skill'}) }}">Was kann der Skill?</a></p>
                        </div>
                        <div class="col-sm-4 text-center">
                            <p>Open source @ <a target="_blank" href="https://github.com/20steps/alexa">GitHub</a></p>
                        </div>
                        <div class="col-sm-4 text-center">
                            <p><a href="{{ path('bricks.custom.twentysteps_alexa.content.page',{slug:'impressum'}) }}">Impressum &amp; Datenschutz</a></p>
                        </div>
                    </div>
                </div>
            </nav>
        </footer>

        {% javascripts
            combine=true
            output='bundles/brickscustomtwentystepsalexa/dist/alexa.js'

            "../vendor/jquery/jquery/jquery-1.11.1.js"
            "../vendor/twbs/bootstrap/js/transition.js"
            "../vendor/twbs/bootstrap/js/alert.js"
            "../vendor/twbs/bootstrap/js/button.js"
            "../vendor/twbs/bootstrap/js/carousel.js"
            "../vendor/twbs/bootstrap/js/collapse.js"
            "../vendor/twbs/bootstrap/js/dropdown.js"
            "../vendor/twbs/bootstrap/js/modal.js"
            "../vendor/twbs/bootstrap/js/tooltip.js"
            "../vendor/twbs/bootstrap/js/popover.js"
            "../vendor/twbs/bootstrap/js/scrollspy.js"
            "../vendor/twbs/bootstrap/js/tab.js"
            "../vendor/twbs/bootstrap/js/affix.js"
            "../vendor/braincrafted/bootstrap-bundle/Braincrafted/Bundle/BootstrapBundle/Resources/js/bc-bootstrap-collection.js"
            "@BricksCustomTwentystepsAlexaBundle/Resources/public/js/custom.js"
        %}
            <script type="text/javascript" src="{{ bricks_cdn_prefix }}{{ asset_url }}?v={{ bricks_application_version }}"></script>
        {% endjavascripts %}

        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-33239609-20', 'auto');
            ga('send', 'pageview');

        </script>

    </body>

</html>