{% extends "BricksCustomTwentystepsAlexaBundle:layout:layout.html.twig" %}

{% block content %}

    <div id="action-container-top"><a href="{{ path('bricks.custom.twentysteps_alexa.user.alexa.login') }}">{{ 'Home'|trans({},'core') }}</a></div>

    <div class="container">
        <div class="row">
            <div class="Absolute-Center is-Responsive">
                <div class="col-sm-12 col-md-10 col-md-offset-1 Absolute-Content">
                    <div id="logo-container"></div>
                    {% if (message is defined and (message == 'reset_password_triggered' or message =='password_updated')) %}
                        <form action="{{ path('bricks.custom.twentysteps_alexa.user.alexa.check') }}" method="post">
                            <label style="margin-bottom: 15px; width: 100%">{{ 'Login now'|trans({},'core') }} <span class="glyphicon glyphicon-info-sign icon-info pull-right" aria-hidden="true" data-toggle="popover" data-placement="left" title="{{ 'info.login.title'|trans({},'twentysteps_alexa') }}" data-content="{{ 'info.login.content'|trans({},'twentysteps_alexa') }}"></span></label>
                            {% if (message is defined) %}
                                <div style="margin-bottom: 10px">{{ message|trans({},'core') }}</div>
                            {% endif %}
                            <div class="form-group">
                                <label for="username">{{ 'Email address'|trans({},'core') }}</label>
                                <input type="email" class="form-control" id="username" name="_username" placeholder="{{ 'Email address'|trans({},'core') }}">
                            </div>
                            <div class="form-group">
                                <label for="password">{{ 'Password'|trans({},'core') }}</label>
                                <input type="password" class="form-control" id="password" name="_password" placeholder="{{ 'Paassword'|trans({},'core') }}">
                            </div>
                            <button type="submit" class="btn btn-primary">{{ 'Login'|trans({},'core') }}</button>
                            <a style="text-align: right; float: right; margin-top: 8px;" href="{{ path('bricks.custom.twentysteps_alexa.user.alexa.register') }}">{{ 'Register'|trans({},'core') }}</a>
                        </form>
                    {% else %}
                        <form action="{{ path('bricks.custom.twentysteps_alexa.user.alexa.reset_password') }}" method="post">
                            {% if (message is defined and message == 'token_valid') %}
                                <label style="margin-bottom: 15px; width: 100%">{{ 'Reset password'|trans({},'core') }} <span class="glyphicon glyphicon-info-sign icon-info pull-right" aria-hidden="true" data-toggle="popover" data-placement="left" title="{{ 'info.updatePassword.title'|trans({},'twentysteps_alexa') }}" data-content="{{ 'info.updatePassword.content'|trans({},'twentysteps_alexa') }}"></span></label>
                                <div class="form-group">
                                    <label for="password">{{ 'Password'|trans({},'core') }}</label>
                                    <input type="password" class="form-control" id="password" name="password" placeholder="{{ 'Email address'|trans({},'core') }}">
                                </div>
                                <button type="submit" class="btn btn-primary">{{ 'Reset password'|trans({},'core') }}</button>
                                <a style="text-align: right; float: right; margin-top: 8px;" href="{{ path('bricks.custom.twentysteps_alexa.user.alexa.login') }}">{{ 'Login'|trans({},'core') }}</a>
                            {% else %}
                                <label style="margin-bottom: 15px; width: 100%">{{ 'Reset password'|trans({},'core') }} <span class="glyphicon glyphicon-info-sign icon-info pull-right" aria-hidden="true" data-toggle="popover" data-placement="left" title="{{ 'info.resetPassword.title'|trans({},'twentysteps_alexa') }}" data-content="{{ 'info.resetPassword.content'|trans({},'twentysteps_alexa') }}"></span></label>
                                {% if (message is defined) %}
                                    <div style="margin-bottom: 10px">{{ message|trans({},'core') }}</div>
                                {% endif %}
                                <div class="form-group">
                                    <label for="username">{{ 'Email address'|trans({},'core') }}</label>
                                    <input type="email" class="form-control" id="email" name="email" placeholder="{{ 'Email address'|trans({},'core') }}">
                                </div>
                                <button type="submit" class="btn btn-primary">{{ 'Reset password'|trans({},'core') }}</button>
                                <a style="text-align: right; float: right; margin-top: 8px;" href="{{ path('bricks.custom.twentysteps_alexa.user.alexa.login') }}">{{ 'Login'|trans({},'core') }}</a>
                            {% endif %}
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}